
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model Cliente
}


<form method="post">
    <fieldset>
        <legend>Seus Dados</legend>
        <div asp-validation-summary="ModelOnly"
             class="text-primary"></div>
        <div class="form-group" id="Nome">
            <label asp-for="Nome"></label>
            <input type="text" asp-for="Nome"
                   class="form-control" />
        </div>
        <div class="form-group" id="Cpf">
            <label asp-for="CPf"></label>
            <input type="text" asp-for="CPf"
                   class="form-control" />
        </div>
        <div class="form-group" id="Senha">
            <label asp-for="Password"></label>
            <input type="text" asp-for="Password"
                   class="form-control" />
        </div>
        <div class="form-group" id="Tipo">
            <label asp-for="Tipo"></label>
            <input type="text" asp-for="Tipo"
                   class="form-control" />
        </div>
        <input type="submit" class="btn btn-success"
               value="Cadastrar" asp-action="CadastrarCliente"
               asp-controller="Pessoa" />



        <br /><br />
        <fieldset>
            <legend>Dados do Endereço</legend>
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly"
                         class="text-primary"></div>
                    <div class="form-group" id="Cep">
                        <label asp-for="Endereco.Cep"></label>
                        <input type="text" asp-for="Endereco.Cep"
                               class="form-control" />
                    </div>
                    <input type="submit" class="btn btn-info"
                           value="Buscar" asp-action="BuscarCep"
                           asp-controller="Pessoas" />
                    <div class="form-group" id="Logradouro">
                        <label asp-for="Endereco.Logradouro"></label>
                        <input type="text" asp-for="Endereco.Logradouro"
                               class="form-control" readonly="" />
                    </div>
                    <div class="form-group" id="Bairro">
                        <label asp-for="Endereco.Bairro"></label>
                        <input type="text" asp-for="Endereco.Bairro"
                               class="form-control" readonly="" />
                    </div>
                    <div class="form-group" id="Cidade">
                        <label asp-for="Endereco.Cidade"></label>
                        <input type="text" asp-for="Endereco.Cidade"
                               class="form-control" readonly="" />
                    </div>
                    <div class="form-group" id="Uf">
                        <label asp-for="Endereco.Estado"></label>
                        <input type="text" asp-for="Endereco.Estado"
                               class="form-control" readonly="" />
                    </div>
                </div>
            </div>
        </fieldset>





        <input type="submit" class="btn btn-success"
               value="Login para Clientes" asp-action="LoginCliente"
               asp-controller="Pessoa" />


    </fieldset>

    <br />
    <br />

    <fieldset>
        <legend>Dados do Endereço</legend>
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly"
                     class="text-primary"></div>
                <div class="form-group" id="Cep">
                    <label asp-for="Endereco.Cep"></label>
                    <input type="text" asp-for="Endereco.Cep"
                           class="form-control" />
                </div>
                <input type="submit" class="btn btn-info"
                       value="Buscar" asp-action="BuscarCep"
                       asp-controller="Pessoas" />
                <div class="form-group" id="Logradouro">
                    <label asp-for="Endereco.Logradouro"></label>
                    <input type="text" asp-for="Endereco.Logradouro"
                           class="form-control" readonly="" />
                </div>
                <div class="form-group" id="Bairro">
                    <label asp-for="Endereco.Bairro"></label>
                    <input type="text" asp-for="Endereco.Bairro"
                           class="form-control" readonly="" />
                </div>
                <div class="form-group" id="Cidade">
                    <label asp-for="Endereco.Cidade"></label>
                    <input type="text" asp-for="Endereco.Cidade"
                           class="form-control" readonly="" />
                </div>
                <div class="form-group" id="Uf">
                    <label asp-for="Endereco.Estado"></label>
                    <input type="text" asp-for="Endereco.Estado"
                           class="form-control" readonly="" />
                </div>
            </div>
        </div>
    </fieldset>

</form>

