
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    @model Colunista
}

<h2>Home Colunista</h2>

<fieldset>
        <a href="http://localhost:58648/Artigo/CadastroArtigo">
            <input asp-action="CadastroArtigo" asp-controller="Artigo" type="submit" value="Cadastrar Artigo" class="btn btn-success" />
        </a>



    <input type="submit" class="btn btn-success" value="Listar Artigos Cadastrados" asp-action="ListarArtigosCadastrados"
           asp-controller="Artigo" />
</fieldset>


