
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    @model Pessoa
}

<h2>Home Colunista</h2>

<form method="post">
    <fieldset>
        
            <input asp-action="CadastroArtigo" asp-controller="Artigo" type="submit" value="Cadastrar Artigo" class="btn btn-success" />
        

        <input type="submit" class="btn btn-success" value="Listar Artigos Cadastrados" asp-action="ListarArtigosCadastrados"
               asp-controller="Artigo" />
    </fieldset>
</form>

